.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 500px;
  background-color: var(--bgSoft);
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  border-radius: 5px;
}

.inputField {
  outline: none;
  border: none;
  padding: 20px;
  border-radius: 5px;
  color: var(--textColor);
  background-color: var(--bg);
}

.registerButton{
    background-color: var(--btn);
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}